<div class="container-fluid" ng-controller="state1Ctrl">
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-striped" style="width: 15%; left: 5px">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Show</th>
                    <th>Add Image</th>
                    <th>Remove</th>
                    <th>
                        <div class="wrapper">
                            <input style="width: 80px" type="text" ng-model="searchText" placeholder="search...">
                            <div class="iconSearch">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="active " ng-repeat="(id, cat) in categories | searchFilter:searchText">
                    <td>{{$index +1 }}</td>
                    <td>{{cat.name}}</td>
                    <td>
                        <form name="showCat">
                            <input type="checkBox" id="{{ cat.name }}-{{ $index }}" ng-model="cat.selected">
                        </form>
                    </td>
                    <td>

                        <form ng-submit="addImage(cat, $index)" name="newImg">
                            <div class="form-group">
                                <input type="text" ng-model="$parent.imageUrl[$index]"
                                       placeholder="Insert image url...">
                            </div>
                        </form>
                    </td>
                    <td>
                        <div style="color: darkred" class=" btn glyphicon glyphicon-minus"
                             ng-click="removeCategory(id)"></div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="right: 5px">
                <form ng-submit="addCategory()" name="newCat">
                    <div class="form-group">
                        <input type="text" ng-model="newCategory"
                               placeholder="Insert category name">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="container" class="imageBox">
                <div class="row">
                    <div ng-repeat="cat in categories" ng-if="cat.images!=null && cat.selected">
                        <div class="col-md-3 col-sm-4 col-xs-6" data-ng-repeat="image in cat.images">
                            <img ng-click="" class="img-responsive black" ng-if="cat.selected"
                                 ng-src="{{image.url}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>