<div ng-controller="state1Ctrl">
    <table class="table" style="width: 15%; left: 5px">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Show</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr class="active" ng-repeat="(id, cat) in categories">
                <td>1</td>
                <td>{{cat.name}}</td>
                <td>
                    <form name="showCat">
                        {{cat.selected}}
                        <input type="checkBox" id="{{ cat.name }}-{{ $index }}" ng-model="cat.selected">
                    </form>
                </td>
                <td>

                    <form name="newImg">
                        <div class="form-group">
                            <input type="url" ng-model="imageUrl"
                                   placeholder="Insert image name">
                        </div>
                        <button class="btn" ng-click="addImage(cat)">Add</button>
                    </form>
                </td>
                <td>
                    <div style="color: darkred" class=" btn glyphicon glyphicon-minus"
                         ng-click="removeCategory(id)"></div>
                </td>
        </tr>
        </tbody>
    </table>
    <form name="newCat">
        <div class="form-group">
            <input type="text" ng-model="newCategory"
                   placeholder="Insert category name">
        </div>
        <button class="btn" ng-click="addCategory()">Add</button>
        <button class="btn" ng-click="reset()">RESET</button>
    </form>

    <div class="container" class="imageBox">
        <div class="row">
            <div ng-repeat="cat in categories">
                <div class="col-md-3 col-sm-4 col-xs-6" data-ng-repeat="image in cat.images">
                    <img class="img-responsive"
                                                   ng-src="{{image.url}}"/>
                </div>
            </div>
        </div>
    </div>
</div>