html,
body {
    height: 100%;
}

.carousel {
    height: 60%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

.map {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}